name: urbannest
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  provider: ^6.0.0
  google_fonts: ^6.1.0
  jitsi_meet_flutter_sdk: ^1.0.3

dev_dependencies:
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
